In [9]:
import webget as wg
import pandas as pd, numpy as np, csv

url = 'http://data.kk.dk/dataset/9070067f-ab57-41cd-913e-bc37bfaf9acd/resource/9fbab4aa-1ee0-4d25-b2b4-b7b63537d2ec/download/befkbhalderkoencivst.csv'

# wg.download(url) #uncomment it so it downloads the csv file

filename = url.split("/")[-1]
data_set = pd.read_csv(filename)

data = "befkbhalderkoencivst.csv"
with open(data) as file_object: # opening the csv
    reader = csv.reader(file_object) # returns reader object that reads lines in file
    header_row = next(reader) # first getting the headers line and so-on/next line
    for i, v in enumerate(header_row): # starting from headers row returns a tuple containing a count 
        print(i, v)

data_set

0 AAR
1 BYDEL
2 ALDER
3 CIVST
4 KOEN
5 PERSONER

         AAR  BYDEL  ALDER CIVST  KOEN  PERSONER
0       2015      1      0     U     1       324
1       2015      1      0     U     2       332
2       2015      1      1     U     1       322
3       2015      1      1     U     2       265
4       2015      1      2     U     1       276
5       2015      1      2     U     2       249
6       2015      1      3     U     1       248
7       2015      1      3     U     2       254
8       2015      1      4     U     1       266
9       2015      1      4     U     2       220
10      2015      1      5     U     1       241
11      2015      1      5     U     2       225
12      2015      1      6     U     1       225
13      2015      1      6     U     2       220
14      2015      1      7     U     1       214
15      2015      1      7     U     2       182
16      2015      1      8     U     1       220
17      2015      1      8     U     2       197
18      2015      1      9     U     1       189
19      2015      1      9     U     2       162
20      2015      1     10     U     1       211
21      2015      1     10     U     2       212
22      2015      1     11     U     1       199
23      2015      1     11     U     2       174
24      2015      1     12     U     1       193
25      2015      1     12     U     2       171
26      2015      1     13     U     1       202
27      2015      1     13     U     2       178
28      2015      1     14     U     1       180
29      2015      1     14     U     2       156
...      ...    ...    ...   ...   ...       ...
174570  1992     99     70     U     2         2
174571  1992     99     71     F     1         4
174572  1992     99     71     F     2         1
174573  1992     99     71     U     1         1
174574  1992     99     72     F     1         1
174575  1992     99     72     G     1         1
174576  1992     99     73     F     1         2
174577  1992     99     73     G     2         1
174578  1992     99     73     U     1         1
174579  1992     99     74     F     1         1
174580  1992     99     74     G     1         1
174581  1992     99     74     U     1         2
174582  1992     99     75     F     2         2
174583  1992     99     75     G     1         1
174584  1992     99     75     U     1         3
174585  1992     99     76     E     1         1
174586  1992     99     76     F     1         1
174587  1992     99     76     G     2         1
174588  1992     99     76     U     1         1
174589  1992     99     77     U     2         1
174590  1992     99     78     E     2         2
174591  1992     99     78     U     2         3
174592  1992     99     79     U     2         2
174593  1992     99     80     E     2         1
174594  1992     99     81     U     2         1
174595  1992     99     87     U     1         1
174596  1992     99     87     U     2         1
174597  1992     99     89     F     2         1
174598  1992     99     90     U     2         1
174599  1992     99     93     G     1         1

[174600 rows x 6 columns]

In [46]:
# Use matplotlib, show the distribution of over the time of 1992 - 2015 with:
dd = data_set.as_matrix()

#- Males between age 18 and 30
age = (dd[:,2])
print(age)
males = (dd[:, 4] == 1) & (dd[:, 2])
print('males\n' + str(males))
male_age = []
for i in males:
    if i < 18:
        pass
    if i > 18:
        male_age.append(i)
    if i < 30:
        male_age.append(i)
    if i > 30:
        pass
        
#- Females between age 18 and 30
fem = (dd[:, 4] == 2) & (dd[:, 2])
fem_age = []
for j in fem:
    if j < 18:
        pass
    if j > 18:
        fem_age.append(j)
    if j < 30:
        fem_age.append(j)
    if j > 30:
        pass

#- Males age 50+
male_50 = []
for a in males:
    if a >= 50:
        male_50.append(a)

#- Females age 50+
fem_50 = []
for b in fem:
    if b >= 50:
        fem_50.append(b)

#print(fem_age)
#print(fem_50)
#print(male_50)
#print(male_age)

males
[0 0 1 ..., 0 0 1]

In [38]:
# Use matplotlib to plot a bar-char showing how many single males and females 
# of age 18 to 30, are living in BYDEL 1, 2 and 3 over the time 1992 - 2015
m_single = (dd[:, 3] == "U") & (dd[:, 4] == 1)
print(m_single)

[ True False  True ..., False False False]

In [ ]:
# Find the three most populated city parts(BYDEL), in 1992, 2000 and 2015

In [ ]:
# Create to pie-charts, showing the distribution of marital status' 
# in bydel 1, 2 and 3 in year 2000 and 2015

In [ ]:
# Make a histogram of the age distribution in all of the municipality of Copenhangen