In [11]:
import os 
import pprint
import csv
import pandas as pd
import numpy as np

filename = './human_development.csv'

array_of_stats = pd.read_csv(filename)
array_of_stats


dd = array_of_stats.as_matrix()

In [13]:
#Which country has the highest HDI (Human Development Index) and which has the lowest?
highest_HDI = np.max(dd[:,2])
print(highest_HDI)
lowest_HDI = np.min(dd[:,2])
print(lowest_HDI)

for d in dd:
    if d[2] == highest_HDI:
        print("{} has the highest Human Development Index".format(d[1]))
    if d[2] == lowest_HDI:
        print("{} has the lowest Human Development Index".format(d[1]))

0.9440000000000001
0.348
Norway has the highest Human Development Index
Niger has the lowest Human Development Index

In [14]:
import ast
#Which country has raised its HDI the most, in the period 1990 to 2014?
filename2 = './historical_index.csv'

array_of_stats = pd.read_csv(filename2)
array_of_stats

growth = []
my_array = []
dd = array_of_stats.as_matrix()
for d in dd:
    if d[2] == '..' or d[3] == '..':
        d2 = 0
        result = d[8] - d2
        growth.append(result)
        my_array.append(d[1])
        my_array.append(result)
    else:
        d2 = ast.literal_eval(d[2])
        result = d[8] - d2
        growth.append(result)
        my_array.append(d[1])
        my_array.append(result)
highest_increase = np.max(growth)
for e in my_array:
    if e == highest_increase:
        country = my_array.index(highest_increase) - 1
        print("{} has increased the most by {}".format(my_array[country], highest_increase))

Liechtenstein has increased the most by 0.9079999999999999

In [13]:
#Which country has the most satelites for military usage?

filename2 = './database.csv'

array_of_stats2 = pd.read_csv(filename2)
array_of_stats2

dd2 = array_of_stats2.as_matrix()
military = []
for d in dd2:
    if d[4] == 'Military':
        military.append(d)
military = np.array(military)
countries = np.unique(military[:,3])
my_array = []
for c in countries:
    for m in military:
        if m[3] == c:
            my_array.append(m)
    my_array_size = len(my_array)
    my_array = []
    print("{} has {} satelites for military use".format(c, my_array_size))

Canada has 1 satelites for military use
China has 34 satelites for military use
France has 8 satelites for military use
France/Italy has 1 satelites for military use
France/Italy/Belgium/Spain/Greece has 2 satelites for military use
Germany has 7 satelites for military use
India has 4 satelites for military use
Israel has 5 satelites for military use
Italy has 1 satelites for military use
Russia has 54 satelites for military use
South Africa has 1 satelites for military use
Spain has 1 satelites for military use
Turkey has 1 satelites for military use
USA has 114 satelites for military use
United Kingdom has 8 satelites for military use

In [27]:
#Wich country has the lightest satelite and how much does it weight?
dd2 = pd.DataFrame(dd2).fillna(0.0)
dd2 = np.array(dd2)
new_array = []

for d in dd2:
    if d[16] == 0.0:
        pass
    else:
        new_array.append(d)
new_array = np.array(new_array)
pd.DataFrame(new_array[:,16])

               0
0           1800
1           1700
2           1730
3           1800
4           1555
5           1530
6            197
7           3370
8           2000
9           2778
10          1600
11           907
12   2,316 (BOL)
13           918
14          1600
15          1600
16          2500
17          2500
18           912
19           919
20          2000
21           646
22          2950
23          3805
24            12
25            12
26            12
27            12
28            12
29            12
..           ...
443         1900
444         2150
445         2500
446         1220
447           77
448           77
449           77
450          670
451          646
452         3200
453            7
454         1850
455         1272
456         1540
457         1545
458         1545
459         1545
460         1545
461         1545
462         1545
463         3450
464         3450
465         3450
466         3450
467         3450
468         3450
469         3450
470         1995
471         3233
472         1412

[473 rows x 1 columns]

In [183]:
#Compare the usage of satelites, between the 5 poorest countries and the 5 welthiest countries, according to the HDI dataset (see first dataset), plotting optional.
import matplotlib.pyplot as plt

#squares = [x ** 2 for x in range(1,6)]  # [1, 4, 9, 16, 25]
plt.plot(n)
plt.show()

ValueError: could not convert string to float: '1,700 (BOL)'